[user]
	name = ___YOUR_NAME___
	email = ___YOUR_EMAIL___
[init]
	defaultBranch = main

[alias]
    # based on "buggyfiles" above and https://github.com/cypher/dotfiles/blob/master/bin/git-churn
    churn = !git log -M -C --name-only --format=\"format:%n\" | grep . | sort | uniq -c | sort -n

[core]
	editor = code
